
#picbox {
	margin: 0px auto;
	width: 800px;
}
#boxcard {
	z-index: 1;
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 160px;
	height: 160px;
	margin: 5px;
	padding: 5px;
	border: 1px solid #EE872A;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	z-index: 2;
	background-image: url("../img/card-back.jpg")
}
#boxcard div img {
	display: none;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #EE872A;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}
#boxcard:after {
	clear:both;
	display: block;
}
